.where-to-get-qr {
  padding: 36.5px 0 0;
}

.where-to-get-qr__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;

  padding: 0 20px;
  margin: 0 0 16px;
}

.where-to-get-qr__description {
  width: 95%;

  padding: 0 20px;
}

.where-to-get-qr__map {
  width: 100%;
  height: 532px;

  border: none;
}